<!doctype html>
<html lang="pt-br">

<head>
  <!-- SEO -->
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="keywords" content="habbo, habbo hotel, exercito habbo, ex habbo, hb, noticias habbo, fã site habbo, fã site hb, hb, forca aerea habbo, fab habbo, fab hb" />
  <meta name="theme-color" content="#006cad" />
  <meta property="og:url" content="#" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Força Aérea Habbo - Principal" />
  <meta property="og:description" content="Website de registros da Força Aérea Habbo - Habbo Hotel" />
  <meta property="og:image" content="assets/img/Departaments/fab.gif" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="800"> <!-- PIXELS -->
  <meta property="og:image:height" content="800"> <!-- PIXELS -->
  <meta property="og:site_name" content="Força Aérea Habbo - Principal" />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:title" content="Força Aérea Habbo - Principal" />
  <meta property="twitter:description" content="Website de registros da Força Aérea Habbo - Habbo Hotel" />
  <meta property="twitter:image" content="assets/img/Departaments/fab.gif" />
  <!-- End SEO -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/style.css">
  <link rel="shortcut icon" href="assets/img/Departaments/fab.gif">

  <title>Força Aérea Habbo | Asas que protegem o país</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar--airforce shadow">
      <div class="container flex-row-reverse">
        <a class="navbar-brand d-md-none icon--airfoce" href="#">
          <img src="assets/img/Departaments/fab.gif" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hierarquia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fardamentos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Discord
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Institucional
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="background--animate">
      <div class="background--animate-cloud"></div>
    </div>
  </header>
  <main>
    <section class="military-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="military-search--image-board">
              <h5>Buscar Militar</h5>
            </div>
            <form action="">
              <input type="text" placeholder="Buscar por militar...">
              <button>
                <img class="button--image-search" src="assets/img/Military-Search/frank.png" alt="Procura militar">
              </button>
            </form>

            <div class="military-search--researching-military">
              <div class="military-search--arrow-up"></div>

              <!-- Não Encontrado -->
              <div class="card card--researching-military d-none">
                <div class="military-search--circle"></div>
                <div class="military-search--result">
                  <h3>Não encontrado</h3>
                </div>
              </div>

              <!-- Encontrado -->
              <div class="card card-military-search--search-result d-none">
                <div class="military-search--circle"></div>
                <div class="military-search--result">
                  <h3>Matthaios</h3>
                  <span><strong>Patente: </strong>Demente-Coronel</span>
                  <span><strong>Promovido por: </strong></span>
                  <span><strong>Promoção: </strong></span>
                  <span><strong>Status: </strong></span>
                  <span><strong>Alistamento: </strong></span>
                </div>
              </div>

              <!-- Pesquisando -->
              <div class="card card--researching-military">
                <div class="military-search--circle" style="background-image: url('assets/img/Military-Search/pesquisa_avatar.png');"></div>
                <div class="military-search--result">
                  <h3>Buscando Militar...</h3>
                  <img class="military-search--image-loading" src="assets/img/Military-Search/loading.gif" alt="">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="highlights">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card card--highlights-praca">
              <div class="card--highlights-description">
                <h5>Matthaios</h5>
                <span>Subtenente</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div id="carouselExampleControls" class="carousel slide carousel--airforce" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/Highlights/diy_vip-pixel-art-club_hhbr.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/Highlights/diy_vip-pixel-art-club_hhbr.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/Highlights/diy_vip-pixel-art-club_hhbr.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card card--highlights-oficial">
              <div class="card--highlights-description">
                <h5>Matthaios</h5>
                <span>Subtenente</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="be-welcome">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--be-welcome">
              <div>
                <h2>Boas Vindas!</h2>
                <p>Os melhores já estão aqui.</p>
              </div>
              <div class="card-body">
                <div>
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3">

            <div class="list-group">

              <div class="list-group-item news--warning">
                <div class="responsible">
                  <div class="responsibile--photo"></div>
                  <span>Ze da bala</span>
                  <br>
                  <small>Aviso FAB Global</small>
                  <div class="responsibile--description">
                    <p>Seja bem-vindo ao site da Forca Aerea do Habbo Hotel!
                      Junte-se a nós! Procure por Ze da broca e aliste-se.</p>
                  </div>
                </div>
              </div>

              <div class="list-group-item news--warning">
                <div class="responsible">
                  <div class="responsibile--photo"></div>
                  <span>Ze da bala</span>
                  <br>
                  <small>Aviso FAB Global</small>
                  <div class="responsibile--description">
                    <p>Seja bem-vindo ao site da Forca Aerea do Habbo Hotel!
                      Junte-se a nós! Procure por Ze da broca e aliste-se.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-6">

            <div class="card news--information">
              <div class="card-header">NOVIDADES</div>
              <div class="card-body">
                <ul class="list-unstyled">

                  <li>
                    <div class="news--information-image">
                      <figure>
                        <img src="assets/img/News/sticker_arrow_right.gif" alt="Imagem Notícia">
                      </figure>
                    </div>
                    <div class="news--information-description">
                      <h5>FAÇA PARTE DO GRUPO</h5>
                      <span>Entre em contato</span>
                    </div>
                  </li>

                  <li>
                    <div class="news--information-image">
                      <figure>
                        <img src="assets/img/News/sticker_arrow_right.gif" alt="Imagem Notícia">
                      </figure>
                    </div>
                    <div class="news--information-description">
                      <h5>FAÇA PARTE DO GRUPO</h5>
                      <span>Entre em contato</span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card news--quick-acess">
              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>

              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>

              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="departament" id="departament">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card card--departament" id="instrutor">
              <div class="card-header">
                <img src="assets/img/Departaments/intrutores.gif" alt="Departamento">
                <h5>Instrutores</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card card--departament" id="parasar">
              <div class="card-header">
                <img src="assets/img/Departaments/intrutores.gif" alt="Departamento">
                <h5>Instrutores</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="motivational">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer--copyright">
      <div class="container">
        <h6>Siga-nos nas redes sociais</h6>
        <div class="footer--social">
          <a href="#"><img src="assets/img/Footer/instagram_2.png" alt="Social" target="_blank"></a>
          <a href="#"><img src="assets/img/Footer/youtube_2.png" alt="Social" target="_blank"></a>
          <a href="#"><img src="assets/img/Footer/room_icon_3.gif" alt="Social" target="_blank"></a>
        </div>
        <hr>
        <small><a href="https://www.habbo.com.br/" target="_blank"><img class="footer--habbo-icon" src="assets/img/Footer/1503__-3eM.png" alt="Habbo"></a> © 2022 - Desenvolvido por Matheus Alves e João Vitor</small>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>