<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/style.css">

  <title>Hello, world!</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar--airforce shadow">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hierarquia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fardamentos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Discord
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Institucional
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="highlights">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card card--highlights">
              <div class="card--highlights-description">
                <h5>Matthaios</h5>
                <span>Subtenente</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">

          </div>
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card card--highlights">
              <div class="card--highlights-description">
                <h5>Matthaios</h5>
                <span>Subtenente</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="be-welcome">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--be-welcome">
              <div>
                <h2>Boas Vindas!</h2>
                <p>Os melhores já estão aqui.</p>
              </div>
              <div class="card-body">
                <div>
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3">

            <div class="list-group">

              <div class="list-group-item news--warning">
                <div class="responsible">
                  <div class="responsibile--photo"></div>
                  <span>Ze da bala</span>
                  <br>
                  <small>Aviso FAB Global</small>
                  <div class="responsibile--description">
                    <p>Seja bem-vindo ao site da Forca Aerea do Habbo Hotel!
                      Junte-se a nós! Procure por Ze da broca e aliste-se.</p>
                  </div>
                </div>
              </div>

              <div class="list-group-item news--warning">
                <div class="responsible">
                  <div class="responsibile--photo"></div>
                  <span>Ze da bala</span>
                  <br>
                  <small>Aviso FAB Global</small>
                  <div class="responsibile--description">
                    <p>Seja bem-vindo ao site da Forca Aerea do Habbo Hotel!
                      Junte-se a nós! Procure por Ze da broca e aliste-se.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-6">

            <div class="card news--information">
              <div class="card-header">NOVIDADES</div>
              <div class="card-body">
                <ul class="list-unstyled">

                  <li>
                    <div class="news--information-image">
                      <figure>
                        <img src="assets/img/News/sticker_arrow_right.gif" alt="Imagem Notícia">
                      </figure>
                    </div>
                    <div class="news--information-description">
                      <h5>FAÇA PARTE DO GRUPO</h5>
                      <span>Entre em contato</span>
                    </div>
                  </li>

                  <li>
                    <div class="news--information-image">
                      <figure>
                        <img src="assets/img/News/sticker_arrow_right.gif" alt="Imagem Notícia">
                      </figure>
                    </div>
                    <div class="news--information-description">
                      <h5>FAÇA PARTE DO GRUPO</h5>
                      <span>Entre em contato</span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card news--quick-acess">
              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>

              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>

              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="departament" id="departament">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card card--departament" id="instrutor">
              <div class="card-header">
                <img src="assets/img/Departaments/intrutores.gif" alt="Departamento">
                <h5>Instrutores</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card card--departament" id="parasar">
              <div class="card-header">
                <img src="assets/img/Departaments/intrutores.gif" alt="Departamento">
                <h5>Instrutores</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="motivational">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer--copyright">
      <div class="container">
        <h6>Siga-nos nas redes sociais</h6>
        <div class="footer--social">
          <a href="#"><img src="assets/img/Footer/instagram_2.png" alt="Social" target="_blank"></a>
          <a href="#"><img src="assets/img/Footer/youtube_2.png" alt="Social" target="_blank"></a>
          <a href="#"><img src="assets/img/Footer/room_icon_3.gif" alt="Social" target="_blank"></a>
        </div>
        <hr>
        <small>© 2022 - desenvolvido por Matheus Alves e João Victor</small>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>