<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/style.css">

  <title>Hello, world!</title>
</head>

<body>

  <main>
    <section class="highlights">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card card--highlights">
              <div class="card--highlights-description">
                <h5>Matthaios</h5>
                <span>Subtenente</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">

          </div>
          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card card--highlights">
              <div class="card--highlights-description">
                <h5>Matthaios</h5>
                <span>Subtenente</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="be-welcome">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card card--be-welcome">
              <div>
                <h2>Boas Vindas!</h2>
                <p>Os melhores já estão aqui.</p>
              </div>
              <div class="card-body">
                <div>
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                  <img class="new--members" src="//www.habbo.com.br/habbo-imaging/avatarimage?user=DIAMANTE-NEGRO&direction=2&head_direction=3&gesture=sml&size=l" alt="Novos Membros">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3">

            <div class="list-group">

              <div class="list-group-item news--warning">
                <div class="responsible">
                  <div class="responsibile--photo"></div>
                  <span>Ze da bala</span>
                  <br>
                  <small>Aviso FAB Global</small>
                  <div class="responsibile--description">
                    <p>Seja bem-vindo ao site da Forca Aerea do Habbo Hotel!
                      Junte-se a nós! Procure por Ze da broca e aliste-se.</p>
                  </div>
                </div>
              </div>

              <div class="list-group-item news--warning">
                <div class="responsible">
                  <div class="responsibile--photo"></div>
                  <span>Ze da bala</span>
                  <br>
                  <small>Aviso FAB Global</small>
                  <div class="responsibile--description">
                    <p>Seja bem-vindo ao site da Forca Aerea do Habbo Hotel!
                      Junte-se a nós! Procure por Ze da broca e aliste-se.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-6">

            <div class="card news--information">
              <div class="card-header">NOVIDADES</div>
              <div class="card-body">
                <ul class="list-unstyled">

                  <li>
                    <div class="news--information-image">
                      <figure>
                        <img src="assets/341bu3S.png" alt="Imagem Notícia">
                      </figure>
                    </div>
                    <div class="news--information-description">
                      <h5>FAÇA PARTE DO GRUPO</h5>
                      <span>Entre em contato</span>
                    </div>
                  </li>

                  <li>
                    <div class="news--information-image">
                      <figure>
                        <img src="assets/341bu3S.png" alt="Imagem Notícia">
                      </figure>
                    </div>
                    <div class="news--information-description">
                      <h5>FAÇA PARTE DO GRUPO</h5>
                      <span>Entre em contato</span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="card news--quick-acess">
              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>

              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>

              <a class="list-group-item" href="#">
                <div class="news--quick-acess-image">
                  <figure>
                    <img src="https://images.habbo.com/c_images/album1584/UK631.png" alt="Icone">
                  </figure>
                </div>
                <div class="news--quick-acess-title">
                  <h5>Conheça todos os visuais</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="departament">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <img src="https://i.imgur.com/xpIQj5N.gif" alt="Departamento">
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <img src="https://i.imgur.com/xpIQj5N.gif" alt="Departamento">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="motivational">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <span></span>
            <h2></h2>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>