@import url("../assets/src/global.css");
@import url("../assets/src/highlights.css");
@import url("../assets/src/be-welcome.css");
@import url("../assets/src/colors.css");
@import url("../assets/src/news.css");
@import url("../assets/src/normalize.css");
@import url("../assets/src/departament.css");
@import url("../assets/src/footer.css");
@import url("../assets/src/navbar.css");
@import url("../assets/src/header.css");

