footer {
  background-color: var(--Blue600);
}
.footer--copyright {
  color: var(--White);
  padding: 30px;
}
.footer--copyright .container h6 {
  font-size: 18px;
}
.footer--copyright .container .footer--social {
  margin-top: 15px;
  display:flex;
  gap: 10px;
}
.footer--copyright .container hr {
  border-bottom: 1px solid var(--Blue100);
}