.highlights {
  margin-top: 80px;
}
.card--highlights-oficial {
  height: 280px;
  border: 0;
  background: linear-gradient(185deg,rgba(0,0,0,0) 50%,var(--Blue600)), url(https://www.habbo.com.br/habbo-imaging/avatarimage?user=Cmd-Peralta&action=std&direction=2&head_direction=3&gesture=sml&size=l) no-repeat center -10px, url(../../assets/img/Highlights/pracadestaque.png) center;
  box-shadow: var(--Shadow);

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.card--highlights-praca {
  height: 280px;
  border: 0;
  background: linear-gradient(185deg,rgba(0,0,0,0) 50%,var(--Blue600)), url(https://www.habbo.com.br/habbo-imaging/avatarimage?user=Cmd-Peralta&action=std&direction=2&head_direction=3&gesture=sml&size=l) no-repeat center -10px, url(../../assets/img/Highlights/pracadestaque.png) center;
  box-shadow: var(--Shadow);

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.card--highlights-oficial .card--highlights-description,
.card--highlights-praca .card--highlights-description {
  color: var(--White);
  text-shadow: 0 2px var(--Black);
  text-align: center;
  margin-bottom: 14px;
}
.card--highlights-oficial .card--highlights-description h5,
.card--highlights-praca .card--highlights-description h5 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 0px;
}
.card--highlights-oficial .card--highlights-description p,
.card--highlights-praca .card--highlights-description p {
  font-size: 16px;
}

/*Carousel*/
.carousel--airforce {
  height: 280px;
  background: red;
  border: 0;
  box-shadow: var(--Shadow);
  overflow:hidden;
}
