@media (max-width: 992px) {
  .navbar--airforce .container #navbarNav ul .nav-item {
    background-color: var(--Blue600);
  }
  .news--quick-acess a {
    width: 100%;
  }
  .carousel--airforce, 
  .card--highlights-praca {
    margin-bottom: 25px;
  }
  .news--information,
  .news--quick-acess {
    margin-top: 25px;
  }
  .airplane--button {
    top: 85%;
  }
}
